.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 40px;
  justify-items: center;
}

.BidQuantityContainer,
.BidCurrencyContainer,
.AskQuantityContainer,
.AskCurrencyContainer {
  border: 1px solid black;
  min-width: 250px;
}
.BidQuantityContainer > div,
.BidCurrencyContainer > div,
.AskQuantityContainer > div,
.AskCurrencyContainer > div {
  border: 1px solid black;
  min-height: 20px;
}
